{% extends "base.html" %}

{% load static %}
{% block page_header %}
    <div class="container navbar-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="overlay1">
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-1">
                YOGICARE
            </h1>
            <h3>Yoga equipment for all the family</h3>
        </div>
    </div>
</div>
</div>
{% endblock %}