{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container navbar-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay2">
</div>
    <div class="container nonHomePageContainer">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Thank You</h2>
                <hr>
                <p class="text-black">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-5">
                <div class="order-confirmation-wrapper p-2 border">
                    <div class="row">
                        <div class="col">
                            <small class="text-muted font-weight-bold"><u>ORDER INFO</u></small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-muted font-weight-bold"><u>Order Number</u></small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <small class="mb-0">{{ order.order_number }}</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-muted font-weight-bold"><u>Order Date</u></small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.date }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="text-muted font-weight-bold"><u>Order Details</u></small>
                        </div>
                    

                    {% for product in order.lineitems.all %}
                    
                        <div class="col-12 col-md-8">
                            <p class="small mb-0 text-black font-weight-bold">
                                {{ product.item.friendly_name }}
                                {% if product.item.colours %} ({{ product.item_colour|upper }})
                                {% endif %}
                                - {{ product.quantity }} @ ${{ product.item.price }} each
                            </p>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="row">
                        <div class="col">
                            <small class="text-muted font-weight-bold"><u>Delivering To:</u></small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-muted font-weight-bold"><u>Full Name</u></small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.full_name }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-muted font-weight-bold"><u>Address</u></small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.street_address1 }}</p>
                            {% if order.street_address2 %}
                            <p class="mb-0">{{ order.street_address2 }}</p>
                            {% endif %}
                            {% if order.county %}
                            <p class="mb-0">{{ order.county }}</p>
                            {% endif %}
                            <p class="mb-0">{{ order.town_or_city }}</p>
                            {% if order.postcode %}
                            <p class="mb-0">{{ order.postcode }}</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-muted font-weight-bold"><u>Country</u></small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.country }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-muted font-weight-bold"><u>Phone Number</u></small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.phone_number }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-muted font-weight-bold"><u>Order Total</u></small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">${{ order.order_total }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-muted font-weight-bold"><u>Delivery</u></small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">${{ order.delivery_cost }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-muted font-weight-bold"><u>Grand Total</u></small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">${{ order.grand_total|floatformat:2 }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
			<div class="col-12 col-lg-7 text-right">
                {% if from_profile %}
                    <a href="{% url 'profile' %}" class="btn btn-black rounded-0 my-2">
                        <span class="icon mr-2">
                            <i class="fas fa-angle-left"></i>
                        </span>
                        <span class="text-uppercase">Back to Profile</span>
                    </a>
                {% endif %}
			</div>
		</div>
    </div>
{% endblock %}