/*font-family: 'Montserrat', sans-serif;
#FEFBEA - cream

#333333 - charcoal */
.textCharcoal {
    color: #333333
}
html {
    height: 100%;
}
body {
    background: url("/media/momandbaby2.jpg") no-repeat right fixed;
    background-size: cover;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    background-color: #FEFBEA;
    height: calc(100vh - 60px);
}

#footer {
    background-color: #FEFBEA;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    height: 60px;
}
.overlay1 {
    height: calc(100vh - 60px);
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
    background: linear-gradient(135deg, rgba(254,251,234,0.8) 50%, transparent 70%);
    z-index: -1;
}
.overlay2 {
    height: calc(100vh - 60px);
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
    background-color: rgba(254,251,234,0.9);
    z-index: -1;
}

.navbar {
    background-color: #FEFBEA;
}
.navbar ul li a, .navbar a {
    color: #333333;
}
.navbarBear {
    background: url(/media/bearsvg.svg) no-repeat right fixed;
}
.navbar-container {
    padding-top: 80px;
}
.nonHomePageContainer {
    padding-bottom: 80px;
}
.card {
    margin: 10px 0;
}
.card-body {
    background: #FEFBEA;
}
.message-container {
    position: relative;
    margin: auto;
    z-index: 99999999999;
}

.toastStyle {
    overflow: visible;
    background-color: #FEFBEA;
}

@media (min-width: 992px) {
    body {
        background: url("/media/outdooryoga.jpg") no-repeat right fixed;
        background-size: cover;
        color: #333333;
        font-family: 'Montserrat', sans-serif;
        background-color: #FEFBEA;
        height: calc(100vh - 100px);
     }
    .overlay1 {
        background: linear-gradient(135deg, rgb(254,251,234) 33%, transparent 50%);
}
}
.imageSizing {
    max-width: 90%;
}

