/*font-family: 'Montserrat', sans-serif;
#FEFBEA - cream

#333333 - charcoal */
.textCharcoal {
    color: #333333
}
html {
    height: 100%;
}
body {
    background: url("/media/momandbaby2.jpg") no-repeat right fixed;
    background-size: cover;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    background-color: #FEFBEA;
    height: calc(100vh - 60px);
}

#footer {
    background-color: #FEFBEA;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    height: 60px;
}
.copyright {
    text-align: left;
}
.copyright p {
    padding: 1em 0 1em 0;
}

.socialMedia {
    text-align: right;
}
.socialMedia i {
    font-size: 30px;
    padding: 15px 10px;
}
.socialMedia .fab {
    color: #333333;
}
.overlay1 {
    height: calc(100vh - 60px);
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
    background: linear-gradient(135deg, rgba(254,251,234,0.8) 50%, transparent 70%);
    z-index: -1;
}
.overlay2 {
    height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
    background-color: rgba(254,251,234,0.9);
    z-index: -1;
}

.navbar, .dropdown-menu {
    background-color: #FEFBEA;
}
.navbar ul li a, .navbar a {
    color: #333333;
}
.searchButton {
    box-sizing: border-box;
    background-color: #FEFBEA;
    box-shadow: 0 1px 1px 0 #333333;
}
.searchButton:hover {
    background-color: #333333;
    color: #FEFBEA;
}
.navbar-container {
    padding-top: 80px;
}
.nonHomePageContainer {
    padding-bottom: 80px;
}
.card {
    margin: 10px 0;
}
.card-body {
    background: #FEFBEA;
}
.message-container {
    position: fixed;
    margin: auto;
    z-index: 99999999999;
}

.toastStyle {
    overflow: visible;
}
.toast-header, .toast-body {
    background-color: #333333;
    color:#FEFBEA;
}

@media (max-width: 992px) {
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  
  .navbar .navbar-collapse {
    text-align: center;
  }
}
@media (min-width: 992px) {
    body {
        background: url("/media/outdooryoga.jpg") no-repeat right fixed;
        background-size: cover;
        color: #333333;
        font-family: 'Montserrat', sans-serif;
        background-color: #FEFBEA;
        height: calc(100vh - 100px);
     }
    .overlay1 {
        background: linear-gradient(135deg, rgb(254,251,234) 33%, transparent 50%);
}
}
.imageSizing {
    max-width: 100px;
    border-radius: 5px;
}

.table-responsive {
    margin-bottom: 60px;
}
.freeDelivery {
    background:linear-gradient(90deg, transparent 5%, rgba(51,51,51, 0.8) 10%, rgba(51,51,51, 1) 50%,rgba(51,51,51, 0.8) 90%, transparent 95%);
    color: #FEFBEA;
    text-align: center;
}