{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container navbar-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="overlay2"></div>
<div class="container-fluid nonHomePageContainer">
    <h1 class="textCharcoal">Our Classes</h1>
    <div class="row h-100">
        {% for class in classes %}
        <div class="col-10 offset-1 col-md-6 col-lg-3 mx-auto">
            <div class="card">
                <a href="{% url 'classe_detail' class.id %}">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}womanhoop.jpg" alt="{{ class.name }}">
                </a>
                <div class="card-body">
                    <h5>{{ class.name }}</h5>
                  <p class="card-text">{{ class.description }}</p>
                  <p class="card-text">{{ class.price }}</p>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}